.banner {
  height: 80vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1516627145497-ae6968895b74");

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
}

.banner-content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.banner-content button {
  padding: 12px 24px;
  border: none;
  background: #ff7b00;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}