.footer {
  background: #222;
  color: white;
  padding: 50px 8%;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin: 8px 0;
}
